<div class="container">
  <h1>Paintings</h1>

  <% @paintings.each do |painting| %>

    <h2><%= link_to "#{painting.title}", painting %></h2>
    <p><%= "Year: #{painting.year}" %></p>

    <p>Price:
      <% if painting.price == 0 %>
        Not for Sale
      <% elsif painting.price == 1000000 %>
        Sold
      <% else %>
        <%= number_to_currency(painting.price) %>
      <% end %>
    </p>

  <% end %>
  <br>
  <%= link_to 'New Painting', new_painting_path %>

</div>
