<% if current_order.total_price != 0 && current_order.total_price != nil %>
  <div class="shopping-cart">
    <%= link_to cart_path do %>
      <%= image_tag 'gradycart.png' %>
    <% end %>
  </div>
<% end %>
<footer class="footer">
  <a href="http://filmproductionworkshops.com/" target="_blank">
  <i class="fa fa-film" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/filmproductionworkshops/" target="_blank">
  <i class="fa fa-facebook" aria-hidden="true">
  </i></a>
  <a href="https://www.linkedin.com/in/tom-kane-87a85a18" target="_blank">
  <i class="fa fa-linkedin-square" aria-hidden="true">
  </i></a>
  <p id="footer-text"><span class="footspan"><a class="nav-link footspan"><%= link_to 'Privacy Policy', '/privacy_policy' %></a></span>
    |
    <span class="footspan"><a class="nav-link"><%= link_to '© 2017', '/privacy_policy#copyright' %></a></span>
    </p>
</footer>
