<div class="jumbotron" style="background-image: url(https://c1.staticflickr.com/5/4256/35388492886_88ddf4e142_o.png);" id="small-jumbo">
  <h2><a class="nav-link"><%= link_to 'TOM KANE', home_path %></a></h2>
</div>
