<nav class="navbar navbar-default navbar-toggleable-md" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand"><%= link_to 'Tom Kane', '/' %></p>
    </div>
    <div class="navbar-nav navbar-right">
      <%= link_to 'Home', '/' %>
      <%= link_to 'About', '/about' %>
      <%= link_to 'Contact', '/contact' %>
    </div>
  </div>
</nav>
