<div id="homepage-navbar">
  <div class="button_container" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>

  <div class="overlay-navbar" id="overlay-navbar">
    <nav class="overlay-menu">
      <ul>
        <li ><a class="nav-link" id="nav-gallery"><%= link_to 'Gallery', home_path %></a></li>
        <li><a class="nav-link" id="nav-about"><%= link_to 'About', about_index_path %></a></li>
        <li><a class="nav-link" id="nav-contact"><%= link_to 'Contact', '/contact' %></a></li>
        <li><a class="nav-link" id="nav-cart"><%= link_to 'My Cart', cart_path %></a></li>
      </ul>
    </nav>
  </div>
</div>
