<nav id="homepage-navbar" class="navbar navbar-default navbar-toggleable-md" role="navigation">
  <div class="container-fluid nav-text-container">
    <div class="navbar-header">
      <p class="navbar-brand"><%= link_to 'Tom Kane', '/' %></p>
    </div>
    <div class="navbar-nav navbar-right nav-link-container">
      <p class="nav-link"><%= link_to 'Home', '/' %></p>
      <p class="nav-link"><%= link_to 'About', '/about' %></p>
      <p class="nav-link"><%= link_to 'Contact', '/contact' %></p>
    </div>
  </div>
</nav>
