<div class="jumbotron masthead-image">
  <div class="masthead-text">
    <h1>Tom Kane Art</h1>
  </div>
</div>

<p id="notice"><%= notice %></p>

<h1>Paintings</h1>

<% @paintings.each do |painting| %>
  <%=link_to( image_tag("#{painting.image}", alt: "#{painting.title}"), painting) %>
<% end %>


<br>
