<div class="container content-text" id="privacy-policy">
  <h3>Privacy Policy
  </h3>

  <h3>Effective June 21, 2017
  </h3>

  <p>Your privacy matters a great deal at TomKaneArt.com. This Privacy Policy outlines the types of information TomKaneArt.com collects and how that information is used in the operation of this website. Any information TomKaneArt.com collects will adhere to this Privacy Policy, whether you give us such information during any online interaction, by telephone, or via email, and will only be used to improve our services and your shopping experience.
  </p>

  <p>No personal information will ever be sold, leased or shared with any third party except to provide products or services you have requested, or when we have your permission, or as described in this privacy policy, or under the following circumstances:
  </p>

  <p>We provide the information to trusted partners who work with or on behalf of or with TomKaneArt.com. These companies may use your personal information to help TomKaneArt.com communicate with you about offers from TomKaneArt.com and our marketing partners. However, these companies do not have any independent right to share this information.
  In response to subpoenas, court orders, or legal process, requests from law enforcement or regulatory agencies, or to establish or exercise our legal rights or defend against legal claims.
  We transfer information about you if TomKaneArt.com is acquired by or merged with another company.
  TomKaneArt.com may, from time to time, via U.S. Mail or email, notify you of product or industry news and we may do mailings in conjunction with other companies in your field of interest, but we will always maintain the confidentiality of your information.
  </p>

  <p>TomKaneArt.com site may use cookies, information stored by your browser on your computer's hard drive, to improve navigation, and to save you from re-entering information each time you visit our site.
  </p>

  <p>Information you submit during your interaction with TomKaneArt.com, such as name, email address and age will be used to authenticate your identity and process sale transactions. We may collect other profile-related data including, but not limited to, personal and professional interests, gender, age and occupation in order to facilitate suggesting other products and services we offer that may be of interest to you.
  </p>

  <p>TomKaneArt.com further logs non-personally-identifiable information including, but not limited to, IP address, profile information, aggregate user data, and browser type to assist in the management of TomKaneArt.com, track usage and improve our services. Non-personally-identifiable information may be shared with third-parties to improve our services and advertisements. User IP addresses are recorded for security and monitoring purposes only.
  </p>

  <p>TomKaneArt.com’s Privacy Policy contained herein is not responsible for the Privacy Policy practices on websites you may link to through this website. You are directed to read those specific sites’ policies prior to continuing using any such website.
  </p>

  <p>Except as otherwise described in this Privacy Policy, TomKaneArt.com will not disclose personal information to any third party unless we believe that disclosure is necessary: (1) to conform to legal requirements or to respond to a subpoena, search warrant or other legal process received by TomKaneArt.com, whether or not a response is required by applicable law; (2) to enforce the TomKaneArt.com Terms of Use or to protect our rights; or (3) to protect the safety of our visitors and members of the public. TomKaneArt.com reserves the right to transfer personal information to a successor in interest that acquires rights to that information.
  </p>

  <p>From time to time we may make changes to our Privacy Policy. Any changes of our Privacy Policies will be posted on this website so that you will always be up-to-date on the information we collect and TomKaneArt.com’s use of such. Once you continue use of this website after changes to this Privacy Policy have been posted, you are bound by the changes, no matter how minor they might be.
  </p>

  <h3>Terms of Use Agreement
  </h3>

  <h3>Effective as of June 21, 2017
  </h3>

  <h4>ACCEPTANCE OF TERMS.</h4>

  <p>This Terms of Use Agreement (the “Terms”) sets forth the legally binding terms for your use of the TomKaneArt.com website, the Content on the website, and related services available on the website (the “Website”). By using the Website, which includes but is not limited to, enrolling in a course, buying anything contained therein, browsing, or accessing any page on the Website, or by using any link on the Website, or by continuing to access the Website, you understand and agree to be bound by these Terms. If you do not agree, you should immediately leave the Website and discontinue any use of the Website. By engaging in any interaction on the Website, including but not limited to enrolling in a course, initiating a purchase transaction or posting a comment, you agree to be bound by these Terms and any additional terms and conditions of use set forth in any subsite. In these Terms of Use, the words "You" and "Your" refer to each customer or visitor to the Website, and the terms "We", “Us" and "Our" refer to the TomKaneArt.com and its parents, and its and their subsidiaries and affiliates (collectively, “TomKaneArt.com”).
  </p>

  <p>These Terms are accepted by and upon Your use of the Website and is further affirmed by You affirmatively acting in any manner in connection with the Website, including but not limited enrolling in a course. YOU AGREE THAT BY USING THE WEBSITE AND THE SERVICES YOU ARE AT LEAST 18 YEARS OF AGE AND YOU ARE LEGALLY ABLE TO ENTER INTO A CONTRACT.
  </p>

  <h4>PROPRIETARY RIGHTS AND LIMITED LICENSE.</h4>

  <p> All content, courses offered, and course materials made available on the Website, whether for free or for sale, including, but not limited to, text, tags, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, or related proprietary information, and Software made available on the Website (collectively, the “Content”), is the property of TomKaneArt.com or its content suppliers and is protected by United States and international copyright laws. The compilation of all Content on this site is the exclusive property of the Website and protected by U.S. and international copyright laws. All Software used on this site is the property of the TomKaneArt.com or its content suppliers and is protected by U.S. and international copyright laws. You are granted a limited license, without the right to sublicense, to access the Content and the Website for your non-commercial and personal use only. Such license is subject to these Terms of Use, any additional terms referenced herein, and any other applicable terms and conditions. By using the Website or the Content, you expressly agree not to:
  </p>

  <p>&emsp;&emsp;&emsp;(a) Resell, lease, transfer, lend, timeshare or syndicate or use the Website or the Content for commercial use;
  </p>
  <p>&emsp;&emsp;&emsp;(b) Distribute or publicly perform or publicly display the Website or the Content;
  </p>
  <p>&emsp;&emsp;&emsp;(c) Modify, adapt, translate, or create any derivative works of the Website or the Content, or any portion thereof;
  </p>
  <p>&emsp;&emsp;&emsp;(d) Remove, deface, obscure, or alter any copyright, trademark, or other proprietary information related to the Website or the Content;
  </p>
  <p>&emsp;&emsp;&emsp;(e) Create or attempt to create a similar service or product through use or access to the Website or the Content; or
  </p>
  <p>&emsp;&emsp;&emsp;(f) Use the Website or the Content other than for its intended purpose.
  </p>

  <h4>TRADEMARK INFORMATION.
  </h4> <p>TomKaneArt.com, FilmProductionWorkshops.com, FilmTVWorkshops.com, and other marks used on the Website are registered and/or common law trademarks of Kane Productions, Inc. All graphics, logos, page headers, button icons, scripts, and service names are trademarks or trade dress of Kane Productions, Inc. or its content suppliers. TomKaneArt.com trademarks and trade dress may not be used in connection with any product or service that is not ours or approved by us in advance and in writing, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits TomKaneArt.com, its parents, and its or their subsidiaries, affiliates, licensees, licensors or its content suppliers. All other trademarks not owned by TomKaneArt.com that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by TomKaneArt.com, its parents, and its or their subsidiaries, affiliates, licensees or its content suppliers and may be subject to different terms and conditions.
  </p>

  <h4>MODIFICATIONS OF TERMS.
  </h4> <p>TomKaneArt.com may modify the Website, and/or any subsite, or affiliated site, or any Content contained thereon and/or these Terms at any time and without notice to You, and any such modification will be effective upon posting to the Website. Your continued use of the Website indicates Your acceptance of any amendments to the Terms. Changes in the Terms or in the Terms of any other affiliated website do not affect the terms and conditions of any other website until and unless changed on that website.
  </p>

  <h4>LINKS; DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY.
  </h4> <p>TomKaneArt.com makes no representation as to the qualifications or competency or fitness or accuracy of the Website or any Content, whether free or purchased, for any particular purpose or use. You agree to indemnify and hold harmless TomKaneArt.com from any and all claims, actions, causes of actions, liability, costs, damages, demands, debts, obligations of any nature, whether known or unknown, suspected or unsuspected, arising out of, or in connection with Your use of the Website or any Content on , whether free or purchased.
  </p> <p>TomKaneArt.com makes no warranty, either express or implied, as to the reputability or fitness for a particular purpose for the Website or Content, whether free or purchased. Kane Productions, Inc. and its Content providers do not represent or warrant that the Website or the Content is accurate, complete, current or error-free, or that the Website or the Content are free of viruses or other harmful components. It is recommended that you use industry-recognized software to detect and disinfect any viruses prior to downloading any content. This Hold Harmless and Release is material consideration for TomKaneArt.com allowing access to the Website or the Content. If You do not agree, You should not enroll in any courses, nor should You access the Website or the Content.
  </p>

  <h4>LINKS.
  </h4> <p>Inclusion of any linked website on TomKaneArt.com does not imply approval or endorsement of the linked website by TomKaneArt.com, even where said linked website is affiliated with TomKaneArt.com. When You access these affiliated or third-party sites, You do so at Your own risk and You should read the terms and conditions and privacy policies of those sites before continuing to access those sites. TomKaneArt.com takes no responsibility for third party advertisements which are posted on this Website, nor does it take any responsibility for the goods or services provided by its advertisers. TomKaneArt.com is not responsible for the conduct, online or offline, of any of its third party affiliates, including, but not limited to, its course creators and instructors. TomKaneArt.com assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of any communication between You and the Website, or any course creator or instructor. Under no circumstances will TomKaneArt.com be responsible for any loss or damage, including personal injury or death, resulting from Your use of the Website or the Content, from any content posted on or through the Website, or the conduct of any of its affiliates, course creators or instructors, or users of the Website, whether online or offline.
  </p>

  <h4>DISCLAIMER OF WARRANTIES.
  </h4> <p>You understand and agree that Your use of the Website or the Content is at Your own discretion and risk. You agree that You will not hold TomKaneArt.com responsible for other users' or any third parties’ actions or inactions, including with respect to the Website or the Content, or goods and services posted or for sale in connection with the Website. YOU UNDERSTAND AND AGREE THAT THE WEBSITE OR THE CONTENT ARE PROVIDED ON AN "AS IS" AND “AS AVAILABLE” BASIS WITHOUT WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, KANE PRODUCTIONS, INC. DISCLAIMS ANY WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, REGARDING THE SECURITY, RELIABILITY, AND PERFORMANCE OF THE WEBSITE (INCLUDING THE SERVER THAT MAKES IT AVAILABLE) AND ANY CONTENT OR GOODS AVAILABLE FOR SALE IN CONNECTION THEREWITH, AND ANY WARRANTY OF NONINFRINGEMENT, MERCHANTABILITY AND FITNESS FOR ANY PARTICULAR PURPOSE.
  </p>

  <p>LIMITATION OF LIABILITY. YOU AGREE THAT, TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, IN NO EVENT WILL KANE PRODUCTIONS, INC. OR ANY OF ITS PRINCIPALS, OWNERS, PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, REPRESENTATIVES, AGENTS, ATTORNEYS, JOINT VENTURERS, CONTRACTORS, CONSULTANTS, SUPPLIERS, LICENSEES AND OTHER AFFILIATES, BE LIABLE FOR ANY DIRECT, CONSEQUENTIAL, SPECIAL, INDIRECT, EXEMPLARY OR PUNITIVE DAMAGES, OR DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF GOODWILL, COMPUTER FAILURE OR MALFUNCTION OR OTHERWISE, WHETHER IN CONTRACT, TORT OR ANY OTHER LEGAL THEORY, ARISING FROM OR RELATING TO USE OF OR ACCESS TO THE WEBSITE, OR ANY CONTENT OFFERED ON THE WEBSITE, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. NOTWITHSTANDING THE FOREGOING, IF KANE PRODUCTIONS, INC. IS FOUND TO BE LIABLE, OUR LIABILITY TO YOU OR ANY THIRD PARTY WILL BE LIMITED TO THE LESSOR OF (A) THE TOTAL FEES YOU PAID US FOR THE GOODS AND/OR SERVICES GIVING RISE TO THE LIABILITY, OR (B) ONE HUNDRED DOLLARS (U.S. $100).
  </p>

  <h4>DISPUTE RESOLUTION; CHOICE OF LAW.</h4>
  <p>If there is any dispute about or involving the Website or any of its content or Software, You agree that the dispute will be governed by the laws of the State of Oregon without regard to any conflict of law provisions that would purport to change the choice of law and You agree to personal jurisdiction by and venue in the state and federal courts of the State of Oregon, City of Portland. Notwithstanding the demand for Arbitration by either party, it is agreed that the Arbiter will apply the laws of State of Oregon. This Arbitration provision will not apply to the extent You have in any manner violated or threatened to violate TomKaneArt.com’s intellectual property rights and TomKaneArt.com may seek injunctive or other appropriate relief in any state or federal court in the state of Oregon, and You consent to exclusive jurisdiction and venue in such courts.
  </p>

  <h4>ONLINE CONDUCT; GLOBAL NATURE OF THE INTERNET.
  </h4> <p>The Website or the services may include discussion forums, or other interactive areas or services (“Interactive Areas”), including chat rooms, or message boards, or other services in which You or other users create, post, or store any content, messages, materials, data, information, or other materials on the Website (“User Content”). Interactive Areas are provided on an “as-is” and “as available” basis. Your use of such Interactive Areas is at your own risk. Recognizing the global nature of the Internet, You agree to comply with all rules regarding online conduct and use of the Website, the Content, and related services. Specifically, You agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which You reside. You agree to indemnify and hold harmless TomKaneArt.com from any and all claims, actions, causes of actions, liability, costs, damages, demands, debts, obligations of any nature, whether known or unknown, suspected or unsuspected, arising out of, or in connection with Your use of the Interactive Areas, and any User Content You post on the Website. TomKaneArt.com makes no representation that the Content on this Website or the Website itself are appropriate or available for use in locations outside of the United States, and accessing them from territories where their contents are illegal is prohibited.
  </p>

  <h4>STORAGE AND USE OF YOUR INFORMATION BY THE TomKaneArt.com.</h4>
  <p> You acknowledge, consent and agree that TomKaneArt.com may access, preserve and disclose, without Your consent and without notice to You, Your account information and any content posted to the Website if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to:</p>
     <p>&emsp;&emsp;&emsp;(i) comply with legal process; </p>
     <p>&emsp;&emsp;&emsp;(ii) enforce these Terms; </p>
     <p>&emsp;&emsp;&emsp;(iii) respond to claims that the Website or the Content violates the rights of third parties; </p>
     <p>&emsp;&emsp;&emsp;(iv) respond to Your requests for customer service; or </p>
     <p>&emsp;&emsp;&emsp;(v) protect the rights, property or personal safety of TomKaneArt.com, its users and the public.</p>

  <h4>PRIVACY.
  </h4> <p>Use of the Website is also governed by our Privacy Policy, which is incorporated into the Terms by this reference as if set forth fully. The most current recent version of the Privacy Policy is accessible by clicking on the Privacy Policy link at the bottom of the home page of the Website. You understand that through Your use of the Website You consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information for storage, processing and use by TomKaneArt.com and its affiliates.
  </p>

  <h4>GENERAL.
  </h4> <p>These Terms constitute the entire agreement between You and TomKaneArt.com regarding the use of the Website. The failure of TomKaneArt.com to exercise or enforce any right or provision of these Terms will not operate as a waiver of such right or provision or any other right or provision contained herein. These Terms operate to the fullest extent permissible by law. If any provision of these Terms is unlawful, void or unenforceable, that provision is deemed severable from these Terms and does not affect the validity and enforceability of any remaining provisions.
  </p>

  <h3>I HAVE READ THIS AGREEMENT AND AGREE TO ALL OF THE PROVISIONS CONTAINED ABOVE.
  </h3>

  <h4 style="padding-top: 20px;">COPYRIGHT
  </h4>

  <p><a id="copyright"></a>© Tom Kane and TomKaneArt.com, 2017. Unauthorized use and/or duplication of this material without express and written permission from this site’s author and/or owner is strictly prohibited. Excerpts and links may be used, provided that full and clear credit is given to Tom Kane and TomKaneArt.com with appropriate and specific direction to the original content.
  </p>
</div>
