<div id="about-page" class="container">
  <h1>About the Painter</h1>

  <p id="quote">"After years of painting with light,<br> I'm now painting with a brush."</p>

  <p id="tom">-Tom Kane</p>


  <div class="content-wrap">
    <%= image_tag("tom-kane.jpeg", :id => "about-image")%>
    <p>Tom has had a long, distinguished career in film; equally esteemed is his artistic skill on canvas. Taking inspiration from the human condition and natural world around him, Tom has released 15 paintings from his private studio covering the breadth of his career.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed risus arcu, faucibus non est quis, pretium consectetur orci. Nam porttitor felis lacus, id mollis erat aliquet a. In ut nisl lobortis, feugiat sapien sit amet, auctor lectus. Suspendisse potenti. Nulla fermentum felis nec varius consequat. Pellentesque ut erat varius, fermentum felis eget, rhoncus neque. Phasellus fermentum finibus sodales. Nam vel diam quis felis ultrices tristique nec et eros. Proin interdum malesuada eros, sit amet luctus erat ullamcorper ut. Suspendisse potenti.</p>

    <p>Aliquam mollis sem neque, pretium facilisis justo sagittis id. Quisque tristique semper risus, et lobortis quam lacinia bibendum. Donec ut accumsan tellus. Etiam rutrum a ligula ut convallis. Praesent tristique aliquam dui in efficitur. In sapien eros, pretium quis velit non, venenatis viverra lectus. Quisque a tincidunt augue. Fusce sapien mi, convallis eget sagittis nec, convallis a arcu. Duis ut pellentesque neque. Pellentesque consectetur justo dui, nec tincidunt enim pharetra et. Sed rutrum sollicitudin iaculis. Suspendisse volutpat urna vel ipsum sollicitudin, vel rhoncus lectus facilisis. Aenean posuere molestie diam nec iaculis. Cras est libero, gravida non justo ac, dapibus tristique nunc. Ut nibh diam, varius vitae malesuada id, faucibus non dui.</p>

    <p>Suspendisse a pretium tortor. Sed eget eleifend libero. Integer finibus scelerisque magna vel tempus. Donec mi dui, maximus pulvinar velit quis, feugiat posuere nisi. Aliquam viverra, erat id ultrices venenatis, nunc risus interdum libero, mollis volutpat est nibh a lectus. Maecenas feugiat nisl nec libero facilisis, interdum eleifend mauris aliquam. Pellentesque vel purus at metus viverra bibendum vel vel enim. Phasellus convallis nibh enim, et sodales enim convallis ut. Sed congue imperdiet nunc. Etiam vitae risus eget velit congue efficitur.</p>
  </div>

</div>
