<div id="about-page" class="container">

<h1>About The Painter</h1>
  <div class="content-wrap">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/www.tomkaneart.com/about/35446959866_ae5eddda0f_o.jpg", :id => "about-image")%>

    <div class="content-text">
      <p>When asked recently (by a nine year old) "what's the difference between real and abstract" I had to answer on my feet.</p>
        
      <p>"Real" is painting what you see and feel.</p>
      
      <p>"Abstract" is interpreting what you see and feel, and painting that...</p>
      
      <p>At nine years old, she seemed satisfied with that answer.</p>
    </div>
  </div>

  <div class="border-line"></div>
  
  <div class="content-wrap">
    <div class="content-text">
      <p>Born the middle child of eleven in Brooklyn, Tom first recognized at age 7 his ability to draw (and how he could get out of house work).</p>

      <p>At age 17, he enrolled as a graphic design student at The School of Visual Arts in New York. While attending school at night, he began a career in advertising, toiling in The Basford Agency mailroom during the day. He eventually worked his way up to become a layout artist.</p>

      <p>After completing art school, he realized a career in fine art was too lonely a pursuit and enrolled at Iona College to complete his formal education with a BA in English Literature. He spent the first year after graduation traveling the world. Upon returning to the US, he decided to combine his interest in both pictures and words by creating a career in the film industry. And where he could also meet girls.</p>

      <p>Thirty-seven years and forty two films later, Tom has returned to painting and lives with his wife in Portland, Oregon. Once responsible for motivating and guiding large casts and crews as a film producer, he now happily works as a crew of one, no longer needing to have all the answers.</p>
    
      <p>In his experience it is a whole lot harder to produce a painting than to produce a movie.  With a bad movie there are 127 other people you can blame it on...</p>
      
      <div class="cheers-signature">
        <p>Cheers,</p>
      </div>

      <img src="https://s3-us-west-2.amazonaws.com/tomkaneart/about/tomkanesig.png" alt="Tom Kane signature" id="tom-kane-signature">
    </div>
  </div>
  
  <div class="content-wrap">
    <div class="content-text">
      <p>Tom's Film Credits:</p>
      <a href="https://filmproductionworkshops.com/feature-film-production-credits/" target="_blank">https://filmproductionworkshops.com/feature-film-production-credits/</a>
    </div>
  </div>

</div>