<div id="about-page" class="container">
  <h1>About the Painter</h1>

  <div class="quote-section">
    <p id="quote">"After 37 years of painting with light,<br> I’ve returned to the brush."</p>
    <p id="tom">-Tom Kane</p>
  </div>

  <div class="content-wrap">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/www.tomkaneart.com/about/35446959866_ae5eddda0f_o.jpg", :id => "about-image")%>

    <div class="content-text">
      <p>Born the middle child of eleven in Brooklyn, New York, Tom first recognized his affinity for drawing at the ripe age of 7.</p>

      <p>At age 17, he enrolled as a graphic design student at The School of Visual Arts in New York.  While attending school at night, he began a career in advertising, toiling in The Basford Agency mail room during the day.  He eventually worked his way up to become a layout artist.</p>

      <p>After realizing a career in fine art was too lonely a pursuit, Tom enrolled at Iona College to complete his formal education with a BA in English Literature.  He spent the first year after graduation traveling the world.  Upon returning to the US, he decided to combine his love for both pictures and words by creating a career in the film industry.</p>

      <p>Thirty-seven years and thirty-two films later, Tom is now retired, living in Portland, Oregon with his wife.  He spends his free time painting.  Once responsible for motivating and guiding large casts and crews as a film producer, he now happily works as a crew of one, answering only to himself.</p>
    </div>
  </div>

  <h1 id="painters-note-title">A Note From The Painter</h1>

  <div class="content-wrap">
    <div class="content-text">
      <p>When asked "what is it you paint", my short answer is to describe my realistic style:  "well, you know it's a tree." However, it's my tree. </p>

      <p>That is the pivotal point. To get the viewer to see the tree differently, in a new way. To expand any previous conception thru paint.  Combined with the particular way the paint comes off my brush,this makes for a singular statement and sensation.  Hopefully.</p>

      <p>Otherwise one might as well take a photograph, which could well be better than any painterly duplication.</p>

      <p>After 37 years "painting with light" (making movies), it's time to return to the paint brush.</p>

      <a href="http://filmproductionworkshops.com/about/film-credits" target="_blank"> View Tom's Films</a>

      <div class="cheers-signature">
        <p>Cheers,</p>
      </div>

      <img src="https://s3-us-west-2.amazonaws.com/tomkaneart/about/tomkanesig.png" alt="Tom Kane signature" id="tom-kane-signature">

    </div>
  </div>

</div>
