<div id="about-page" class="container">
  <h1>About the Painter</h1>

  <div class="quote-section">
    <p id="quote">"After 37 years of painting with light,<br> I’ve returned to the brush."</p>
    <p id="tom">-Tom Kane</p>
  </div>

  <div class="content-wrap">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/www.tomkaneart.com/about/35446959866_ae5eddda0f_o.jpg", :id => "about-image")%>
    <div class="content-text">
      <p>Tom has had a long, distinguished career in film; equally esteemed is his artistic skill on canvas. Taking inspiration from the human condition and natural world around him, Tom has released 15 paintings from his private studio covering the breadth of his career.</p>

      <h3>A Note From The Painter</h3>

      <p>When asked "what is it you paint", my short answer is to describe my realistic style:  "well, you know it's a tree." However, it's my tree. </p>

      <p>That is the pivotal point. To get the viewer to see the tree differently, in a new way. To expand any previous conception thru paint.</p>

      <p>Combined with the particular way the paint comes off my brush,
      this makes for a singular statement and sensation.
      Hopefully.</p>

      <p>Otherwise one might as well take a photograph, which could well be better than any painterly duplication.</p>

      <p>After 37 years "painting with light" (making movies),
      it's time to return to the paint brush.</p>

      <a href="http://filmproductionworkshops.com/about/film-credits" target="_blank"> View Films</a>

      <p>Cheers,</p>

      <img src="https://farm5.staticflickr.com/4235/35340775130_7cf0ca11a6_z.jpg" alt="Tom Kane Signature">
    </div>
  </div>

</div>
