// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-page h1 {
  margin-top: 0;
}

.quote-section {
  text-align: center;
  margin: 50px 0 70px 0;
  font-weight: bolder;
}
#quote{
  font-size: 2em;
  font-style: italic;
  letter-spacing: .1em;
}

#tom {
  font-size: 1.2em;
}

#about-image {
  display: block;
  margin: 0 auto;
  margin: 0 0 65px 65px;
  box-shadow: 1px 7px 85px -6px #777;
  float:right;
  max-width: 20vw;
}

.content-wrap, {
  margin: 30px 80px 0 80px;
}

.content-text {
  font-size: 1.2em;
  letter-spacing: .05em;
}

#about-page #painters-note-title {
  margin-top: 80px;
}

.cheers-signature {
  margin-top: 20px;
}

#tom-kane-signature {
  max-width: 200px;
}

@media only screen and (max-width : 1024px) {
  .content-text {
    font-size: 1.8em;
  }
}
