/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

// @media screen and (max-height: 100vh) and (min-height: 0vh){
//   min-height: 100vh;
//
// }

// Old Navbar

// #homepage-navbar {
//   display: none;
//   position:fixed;
// 	top:0px;
// 	width:100%;
// 	height:5%;
//   background-color: white;
//   z-index:9999;
//   opacity: 0.8;
//   border-radius: 0;
//
//   #navbar-content{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
//
//   a{
//     color: black;
//     text-transform: uppercase;
//     letter-spacing: 4px;
//   }
//
//   a:hover{
//     text-decoration: none;
//     font-weight: 900;
//     // font-size: 1.005em;
//   }
//
//   .nav-link {
//     display: inline-block;
//     padding-right: 20px;
//   }
// }





//Navbar

$color-background: #F5F5F5;
$color-main: #3aa6d9;
$color-button: #42424a;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

#homepage-navbar {
  // display: none;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 10;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
  background: $color-button;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;


    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay-navbar {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: .9;
    visibility: visible;
    z-index: 9;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

// HEADER

.header {
  height: 150px;
  font-size: 5em;
  text-align: center;
}

// FOOTER

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

#body {
  min-height: 80vh;
  padding-bottom: 10vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: rgb(48, 48, 48);
  color: white;
  text-align: center;
  z-index: -100;
  margin-top: 30px;
}

.fa {
  width: 17%;
  font-size: 3em;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0 55px 0;
  z-index: 1000;
  color: white;
}

.fa:hover {
  font-weight: bold;
}

.footspan {
  margin: 0 55px 0 55px;
}

.footspan a {
  color: white;
}

#footer-text {
  justify-content: center;
  padding-right: 2%;
}
