// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("https://c1.staticflickr.com/5/4245/35040805720_3ff5b9f37e_o.png");
  height: 900px;
  width: 100%;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  // min-height: 100%;

  .masthead-text-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    letter-spacing: 30px;
    font-size: 10vw;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 8px 10px rgba(0,0,0,0.3);
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 8px 10px rgba(0,0,0,0.3);
}

.image-container {
  width: 700px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.black {
  background-color: black;
  margin: 40px;
}

.landscape {
  width: 700px;
  height: 500px;
}

.portrait {
  height: 700px;
  width: 500px;
}

.square {
  height: 600px;
  width: 600px;
}

// NUCLEAR OPTION (it worked)

.image-container {
  z-index: 2;
  position: relative;
  float: left;
  cursor: pointer;
  box-shadow: 1px 7px 85px -6px #777;
}

.image-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    transition: opacity 0.5s ease-out;
    z-index:3
}

.image-container:hover:before {
    background: rgba(0,0,0, 0.5);
}

.image-container h3 {
    position: relative;
    z-index: 4;
    color: white;
    display: none;
}

.image-container > h3 {
  font-size: 2em;
  position: relative;
}
