// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead-image {
  background-image: image-url('connectivity.jpg');
  min-height: 900px;
  width: 100%;
  background-size: cover;

  .masthead-text{
    display: flex;
    justify-content: center;
  }

  h1{
    letter-spacing: 8px;
    text-transform: uppercase;
  }
}

body {
  background: gray;
}

.gallery {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}



img {
  border: solid black 5px;
  width: 100%;
  align-self: center;
  vertical-align: middle;
}

a {
  width: 50%;
  height: auto;
}

.landscape {
  width: 100%;
  height: auto;
}

.portrait {
  width: 66%;
  height:auto;
  display: block;
  margin: 0 auto;
}
