// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead-image {
  background-image: image-url('connectivity.jpg');
  min-height: 900px;
  width: 100%;
  background-size: cover;

  .masthead-text{
    display: flex;
    justify-content: center;
  }

  h1{
    letter-spacing: 8px;
    text-transform: uppercase;
  }
}
