<h1>Order Number: <%= @description %></h1>
<h2>Thank you for your order, you paid <strong><%= pretty_amount(@amount) %></strong>!</h2>
<h2>You will receive an automated payment receipt from Tom Kane Art.</h2>
<h2>Tom will contact you at the email provided within two days with shipping details.</h2>
