<h1>Order Number: <%= @description %></h1>
<h3>Thank you for your order! You paid <strong><%= pretty_amount(@amount) %></strong>!</h3>
<h4>You will receive an automated payment receipt from Tom Kane Art.</h4>
<h4>Tom will contact you at the email provided within two days with shipping details.</h4>
